@import 'utility.css';

section.fullStack{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    clip-path: polygon(0 0,100% 0,100% 100%,67% 80%,0 100%);
    color: var(--white);
    padding-bottom: 14rem;
}

a{
    text-decoration: none;
}

section.fullStack h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.fullStack p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}

