@import 'utility.css';

header{
    background-color: var(--black);
    clip-path: polygon(0 0,100% 0,100% 100%,70% 87%,0 100%);
}

.container{
    max-width:1000px;
    margin: 0 auto;
    padding:0 15px;
}

a{
    text-decoration: none;
}

header nav .nav-left a{
    color:var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .nav-left a:hover{
    color:var(--green);
}

header nav{
    padding: 2rem 0;
    /* position: fixed; */
}

header nav .branding{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -0.5rem;
}
header nav .branding img{
    margin-right: 3rem;
    width: 4rem;
    height: 4rem;
}

header nav .branding p{
    color: #3DCFD3;
    /* z-index: 1; */
    position: relative;
    left: -2.5rem;
    top: 0.5rem;
    font-size: x-large;
    font-weight: 700;
    font-family: cursive;
}

.hero{
    padding: 10rem 0;
    /* margin-top: 5rem; */
}

.hero img{
    width: 400px;
}

.hero .right{
    color: var(--white);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--green);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height:1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--green);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

@media (max-width:1024px){
    header #main-nav{
        display: none;
    }

    .hero .left img{
        width: 260px;
    }

    .hero .right h1{
        font-size: 3rem;
    }

    .hero{
        padding-top:10rem;
    }

    /* .hero .right .cv_button a{
        margin-bottom: 10rem;
    } */

    header{
        clip-path: polygon(0 0,100% 0,100% 100%,27% 89%,0 100%);
    }
}