@import "utility.css";

section.projects .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* justify-content: center; */
}

section.projects .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 0 auto; */
}

section.projects .slider .slide p{
    font-family: 'Lato',sans-serif;
    color: var(--textColor);
    margin-bottom: 1rem;
}

section.projects .slider .slide span{
    font-size: 1rem;
    font-weight: 400;
}